/.vscode/*
/.sonarlint/*
/.scannerwork/*
/logs/*
/node_modules/*
/mailserver/docker-data/*
/coverage/*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store

# Editor files
*.swp
*.swo
*~
